.contactForm {
    background-color: #E5E9F0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5dvh;
    color: #1B2A41;
    height: 85dvh;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.altFormTitle {
    display: none;
}

#formTitle {
    padding: 0dvh;
}

.client-info-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.25dvh;
    height: 75dvh;
    width: 40dvw;
    border: transparent;
    padding: 4dvh;
    border-radius: 5dvh;
    box-shadow: 2dvh 2dvh 2dvh 2dvh rgba(0, 0, 0, 0.3);
}

#name {
    width: 45.2dvw;
}

#name, #email, #phoneNum {
    border: transparent;
    border-radius: 2dvh;
    line-height: 4dvh;
    color: #1B2A41;
}

#name::placeholder, #email::placeholder, #phoneNum::placeholder, #company::placeholder, #message::placeholder {
    color: #1B2A41;
}

.emailPhoneNum {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3dvw;
    width: 96%;
}

#company {
    width: 45.2dvw;
    border: transparent;
    border-radius: 2dvh;
    height: 4dvh;
    color: #1B2A41;
}

#reason {
    width: 45.2dvw;
    border: transparent;
    border-radius: 2dvh;
    height: 4dvh;
    color: #1B2A41;
}

#referral {
    width: 45.2dvw;
    border: transparent;
    border-radius: 2dvh;
    height: 4dvh;
    color: #1B2A41;
}

#message {
    width: 45.2dvw;
    border: transparent;
    border-radius: 2dvh;
    height: 12dvh;
    padding: 1dvh 0dvw;
}

#name, #email, #phoneNum, #company, #reason, #referral, #message {
    padding-left: 1dvw;
    font-size: 0.7rem;
    width: 35dvw;
}

.consent-button {
    width: 32.5dvw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    gap: 1dvw;
    font-size: 1.5dvh;
}

input[type="checkbox"] {
    cursor: pointer;
}

.submit-reset {
    display: flex;
    flex-direction: row;
    gap: 2dvw;
}

#submit {
    border: transparent;
    border-radius: 2dvh;
    padding: 0.75dvh 4dvw;
    background-color: white;
    color: #1B2A41;
}

#reset {
    border: transparent;
    border-radius: 2dvh;
    padding: 0.75dvh 4dvw;
    background-color: #F0D6D6;
    color: #E63946;
}

#submit:hover {
    cursor: pointer;
    color: #FFFFFF ;
    background-color: #1B263B;
}

#reset:hover {
    cursor: pointer;
    color: #9E2A2B  ;
    background-color: #EABBBB   ;
}

/* From Uiverse.io by WhiteNervosa */ 
/* Variation of work by @mrhyddenn for Radios */


.check {
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
  }
  
  .check:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(34, 50, 84, 0.03);
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  
  .check svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #c8ccd4;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
  }
  
  .check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
  }
  
  .check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
  }
  
  .check:hover:before {
    opacity: 1;
  }
  
  .check:hover svg {
    stroke: var(--accent-color, #1B2A41);
  }
  
  #cbx2:checked + .check svg {
    stroke: var(--accent-color, #1B2A41);
  }
  
  #cbx2:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
  }
  
  #cbx2:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
  }


/*Optimization for small phones*/
@media (max-width: 835px) {
    .contactForm {
        padding-top: 3dvh;
    }

    .altFormTitle {
        display: block;
        padding-bottom: 2dvh;
        font-size: 0.75rem;
    }

    #formTitle {
        display: none;
    }

    .client-info-inputs {
        width: 85dvw;
        height: 70dvh;
        gap: 3dvh;
    }

    #name, #reason, #company, #referral, #message {
        width: 67.5dvw;
    }

    #email, #phoneNum {
        width: 32.5dvw;
    }

    #name, #email, #phoneNum, #company, #reason, #referral, #message {
        font-size: 0.7rem;
        padding-left: 1.5dvw;
    }

    .consent-button {
        font-size: 0.5rem;
        width: 85%;
        gap: 2dvw;
    }

    #submit, #reset {
        width: 25dvw;
    }
}

/*Optimization for iPads*/
@media (min-width: 835px) and (max-width: 1366px) {
    .emailPhoneNum {
        width: 100%;
    }
}