.myEdSection {
    background-color: #E5E9F0;
    color: #1B2A41;
    padding: 15dvh 0;
    height: 85dvh;
}

#titleEd {
    text-align: center;
}

.education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5dvh;
    margin-left: 5dvh;
    padding: 5dvh 0;
}

.highSchool {
    border: 0.05dvh solid #1B2A41;
    border-radius: 5dvh;
    padding: 1dvh 0;
    width: 75%;
    line-height: 3.5dvh;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.25);
}

.university {
    border: 0.05dvh solid #1B2A41;
    border-radius: 5dvh;
    padding: 1dvh 0;
    width: 75%;
    line-height: 3.5dvh;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.25);
}



/*Styling for small phones*/
@media (max-width: 700px) {
    .myEdSection {
        padding: 8dvh 0dvw;
    }

    .education {
        margin: 0;
        font-size: 0.75rem;
    }

    .highSchool {
        width: 95%;
        line-height: 3dvh;
        height: 20dvh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .university {
        width: 95%;
        line-height: 3dvh;
        height: 20dvh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/*Styling for iPads*/
@media (min-width: 700px) and (max-width:1024px) {

}