.experience {
    padding: 5dvh 0dvh;
    height: auto;
    text-align: center;
    background-color: #E5E9F0;
    color: #1B2A41;
}

.experienceContainer {
    margin: auto;
    margin-top: 3dvh;
    text-align: left;
    width: 50%;
    color: #1B2A41;
}



/*Styling for small phones*/
@media (max-width: 700px) {
    .experience {
        font-size: 0.75rem;
        padding: 0;
    }

    .experienceContainer {
        width: 95%;
    }
}