.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6dvh 4dvw;
    background-color: #E5E9F0;
    color: #1B2A41;
}

.footerLinks {
    display: flex;
    flex-direction: row;
    gap: 6dvh;
    font-size: 3dvh;
    justify-content: center;
    align-items: center;
}

.footerLinks a {
    text-decoration: none;
    color: #1B2A41;
}

.footerLinks a:hover {
    color: #AC8205;
}


/*Styling for small phones*/
@media (max-width: 700px) {
    .footer {
        font-size: 0.55rem;
    }

    .copyright {
        width: 50%;
    }

    .footerLinks {
        gap: 4dvw;
    }
}