* {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.2dvh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heroBanner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #E5E9F0;
    color: #1B2A41;
    height: 85dvh;
    overflow: hidden;
}

.bannerText {
    width: 45%;
    margin-left: 5dvw;
}

.bannerText a{
    text-decoration: none;
    color: #1B2A41;
    border: 2px solid #1B2A41;
    border-radius: 2dvh;
    padding: 1dvh 3dvh;
}

.bannerText a:hover{
    border: 2px solid #1B263B;
    background-color: #1B263B;
    color: white; 
}

.heroImage {
    width: 50%;
    height: auto;
    /*-webkit-mask-image: linear-gradient(to bottom, black 65%, transparent 100%);*/
    /*mask-image: linear-gradient(to bottom, black 65%, transparent 100%);*/
}



/*Styling for small phones*/
@media (max-width: 700px) {
    .heroBanner {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: 85dvh;
    }

    .bannerText {
        font-size: 0.5rem;
        width: 100%;
        text-align: center;
        margin-left: 0;
    }
}

/*Styling for iPads*/
@media (min-width: 700px) and (max-width: 1366px) {
    .bannerText {
        text-align: center;
    }
}