* {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.2dvh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.introSection {
    height: 85dvh;
    width: 100%;
    background-color: #E5E9F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1B2A41;
    padding-top: 6dvh;
}

.aboutMe {
    font-size: 1.75dvh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 7dvh;
    padding-top: 5dvh;
    padding-left: 5dvh;
}

#groupImage {
    height: 65dvh;
    width: auto;
}

.introBody{
    text-align: left;
    width: 30%;
}

#segmentTitle {
    text-align: center;
}

.contactInfo {
    width: 30%;
    text-align: center;
}

.linksTable {
    text-align: left;
    border-spacing: 5dvh 3dvh;
}

.linksTable td {
    color: #1B2A41;
}

.linksTable a {
    text-decoration: underline;
    color: #1B2A41;
}

.contactRow:hover {
    color: #AC8205; /* Highlight the row */
    cursor: pointer; /* Change cursor on hover */
}

.contactRow:hover #icon svg {
    color: #AC8205; /* Change icon color on hover */
}

.contactRow:hover #content a {
    color: #AC8205 !important; /* Change link text color on hover */
}



#icon {
    font-size: 3dvh;
    vertical-align: middle;
}

#content {
    vertical-align: middle;
}



/*Styling for small phones*/
@media (max-width: 700px) {
    .introSectTitle {
        font-size: 1.5rem;
        padding: 4dvh 0dvw;
    }

    .aboutMe {
        flex-direction: column;
        gap: 2dvh;
        font-size: 0.6rem;
        padding: 0dvw 3.5dvw;
        align-items: center;
    }

    .aboutImage {
        display: none;
    }

    .introBody {
        display: flex;
        flex-direction: column;
        width: 100dvw;
        text-align: center;
        align-items: center;
    }

    .linksTable{
        border-spacing: 2dvw 2dvh;
        width: 85dvw;
    }

    .contactInfo {
        width: 100%;
    }

    .introText {
        flex-shrink: 0;
        height: auto;
        overflow: hidden;
        white-space: normal;
        width: 80%;
        text-align: center;
    }
}

/*Styling for iPads*/
@media (min-width: 700px) and (max-width: 1366px) {

    .introSection {
        height: 140dvh;
    }

    .introSectTitle {
        padding: 0dvh 0dvw;
    }

    #groupImage {
        height: 45dvh;
    }

    .aboutMe {
        flex-wrap: wrap;
        gap: 8dvh;
        align-items: center;
    }

    .introBody {
        padding-top: 10dvh;
        flex-wrap: wrap;
        order: 3;
        width: 90%;
        font-size: large;
    }

    .aboutImage {
        order: 1;
    }

    .contactInfo {
        order: 2;
    }
}