.mySkills2 {
    background-color: #E5E9F0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skillTitle {
    padding-top: 15dvh;
    padding-bottom: 2dvh;
    color: #1B2A41;
    text-align: center;
}

.skillList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 6dvw;
}

#interpersonalSkillList {
    padding-bottom: 20dvh;
}

.icon {
    padding: 4dvh;
    border-radius: 2dvh;
}

.icon:hover {
    cursor: pointer;
}

.iconText {
    text-align: center;
    font-weight: 500;
    color: #1B2A41;
}

.skillContainer {
    display: flex;
    flex: 1 1 15%;
    max-width: 15%;
    flex-direction: column;
    align-items: center;
}

.skillContainer:hover {
    cursor: pointer;
}

.skillContainer:hover .icon,
.skillContainer .iconText{
    color: #AC8205 !important;
}

.skillContainer:not(:hover) .iconText{
    color: #1B2A41 !important;
}


/*Styling for Phones*/

@media (max-width:700px) {
    .skillContainer {
        flex: 1 1 50%;
        max-width: 25%;
        font-size: 0.6rem;
    }

    .icon {
        padding: 6dvh;
    }
}

@media (min-width: 701px) and (max-width: 768px) {
    .skillContainer {
        flex: 1 1 25%;
        max-width: 25%;
        font-size: 0.8rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .skillContainer {
        flex: 1 1 20%;
        max-width: 20%;
        font-size: 0.9rem;
    }

    .icon {
        width: 175px;
        height: auto;
    }
}