.portfolio {
    background-color: #E5E9F0;
}

.portfolioTabs {
    padding-top: 1dvh;
    padding-bottom: 2dvh;
    background-color: #E5E9F0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.tabButton {
    padding: 1dvh 1dvw;
    border-radius: 1.5dvh;
    width: 20%;
    background-color: transparent;
    border: 2px solid #1B2A41;
    color: #1B2A41;
    font-weight: bold;
}

.tabButton:hover {
    cursor: pointer;
    border-color: #1B263B;
    background-color: #1B263B;
    color: #FFFFFF;
}

.tabButton[aria-selected="true"] {
    border-color: #1B263B !important;
    background-color: #1B263B !important;
    color: #FFFFFF;
  }

.portfolioContent {
    padding: 10dvh 0dvw;
    background-color: #E5E9F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.codingCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8dvw;
}

.siteCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#portfolioLogo {
    padding: 3dvh 0dvw;
    height: 40dvh;
}

#clockworkLogo {
    padding: 3dvh 0dvw;
    height: 35dvh;
    margin: 2.5dvh 0dvh;
}

.visitSiteButton {
    text-decoration: none;
    list-style: none;
    color: #1B2A41;
    padding: 1dvh;
    border: 2px solid #1B2A41;
    border-radius: 1.5dvh;
    width: 15dvw;
}

.visitSiteButton:hover{
    color: white;
    background-color: #1B263B;
    border-color: #1B263B;
    cursor: pointer;
}

.photographyCards {
    display: flex;
    flex-direction: column;
    gap: 20dvh;
}

.professionalPortraits {
    color: #1B2A41;
}

.professionalGallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2dvw;
    padding: 3dvh 3dvh;
}

.thumbnail {
    width: 100%;
    height: 100%;
    border: 2px solid #1B2A41;
    border-radius: 2dvh;
}

.otherCards {
    height: 60dvh;
}



@media (max-width: 700px) {
    .portfolioTabs {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2dvh;
    }

    .tabButton {
        width: 75%;
    }

    .codingCards {
        flex-direction: column;
        gap: 12dvh;
    }
    
    .visitSiteButton {
        width: 75dvw;
    }

    .professionalGallery {
        grid-template-columns: repeat(1, 1fr);
    }
}